/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 5rem;
    font-family: 'Merriweather', sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1em;
  margin-bottom: 2em;
}

ul.condition-options {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 2em;
  padding: 0;
}

ul.condition-options button {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  background: none;
  margin: 5px;
}

.place-results {
  background: #f1f1f1;
  padding: 1em 0;
}
.highlight {
  color: #318341;
}

.place-results .place-card {
  border: 1px solid #318341;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  margin: .5em 0;
}

.place-results img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.place-content {
  padding: 20px;
}
